.gallery {
	display: flex;
	padding:2px;
	transition: .3s;
}
	
	 .gallery__image {
		filter: grayscale(5);
	}
	
	.gallery__column {
		display: flex;
		flex-direction: column;
		width: 25%;
        
	}
	
	
	.gallery__image:hover{
        filter: grayscale(0);
        transform: scale(1.1, 1.1);
        z-index: 4;
    }	
	
			
	.gallery__caption {
	opacity: 1;
			}
	
	
	/* .gallery__thumb {
		position: relative;
	} */
	
	.gallery__image {
		display: block;
		width: 95%;
		transition: .3s;}
		

	
	
	.gallery__caption {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 25px 15px 15px;
		width: 100%;
		font-family: 'Raleway', sans-serif;
		font-size: 16px;
		color: white;
		opacity: 0;
		background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(255, 255 ,255 , 0) 100%);
		transition: .3s;
	}


@media(max-width: 800px) {
    
}    
